@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans SC', 'Roboto', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-foreground bg-background;
}
